:root {
  --color-fondo: #337597;      /* Fondo */
  --color-principal: #F8F1FF;  /* Principal */
  --color-filter-principal: invert(100%) sepia(84%) saturate(1377%) hue-rotate(182deg) brightness(104%) contrast(104%); /* Hay que hacer virguerías para convertir color svg */
  --color-claro: #8AC8D2;      /* Claro */
  --color-oscuro: #184563;     /* Oscuro */
  --color-resalte: #FFDC8B;    /* Resalte */
  --color-error: #FC817B;      /* Error */
  --color-blanco: #FFFFFF;     /* Blanco */
  --color-mas-oscuro: #011F33; /* Más oscuro */
  --color-gris: #a09aac;       /* Gris */
  --color-nuevo-elemento: linear-gradient(90deg, #8AC8D2 0%, #FFDC8B 62%);; /* Nuevo Elemento */
  --color-seleccion: #CA8FFD;  /* Selección */
  --color-seleccion-semitransparente: rgba(202,143,253,0.25); /* Selección semitransparente */
  --color-correcto: #8FFDB2;   /* Correcto */

  --shadow-focus-grande: 0px 0px 12px 8px var(--color-seleccion);
  --shadow-focus-pequeno: 0px 0px 6px 4px var(--color-seleccion);
  --shadow-button: 0px 4px 4px 2px rgba(0, 0, 0, 0.5);
  --shadow-button-sobreblanco: 0px 2px 2px 2px rgba(0, 0, 0, 0.25);
  --shadow-titulo: drop-shadow(4px 4px 2px var(--color-fondo));

  --font-family: 'Nunito', sans-serif;
  --font-family-titulos: 'Montserrat Alternates', sans-serif;
  --font-peso-medium: 400;
  --font-peso-semibold: 500;
  --font-peso-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

* {
  scrollbar-width: 20px;
  scrollbar-color: var(--color-fondo) var(--color-claro);
}

body {
  height: 100%;
  color: var(--color-principal);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: var(--font-family);
  font-size: 16px;  
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {  
  color: var(--color-principal);
  text-decoration: none;
  border: none;
  border-radius: 16px;
  padding: 4px 4px 4px 4px;

  transition: background-color 0.3s;
}

a:hover {
  background-color: var(--color-seleccion-semitransparente);
}

button {
  border: none;
  border-radius: 8px;

  color: var(--color-principal);
  font-family: var(--font-family);
  cursor: pointer;
  
  background-color: var(--color-oscuro);
  box-shadow: var(--shadow-button);
  transition: box-shadow 0.3s ease-in-out;
}

button:hover {
  box-shadow: var(--shadow-focus-pequeno);
}

button[disabled] {
  background-color: var(--color-fondo);
  border-style: dashed;
  border-width: 4px;
  border-color: var(--color-oscuro);
  cursor: not-allowed;

  box-shadow: none;
}

button[disabled]:hover {
  box-shadow: none;
}
